body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(12, 0, 179);
}

.article {
  background: #bcbfc2;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.submit-btn {
  margin-left: 2%;
}

#comment {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width: 95%;
}

.comment-list {
  margin: 2%;
}

.comment-list ul {
  list-style: none;
}

.fa-times-circle-o {
  color: #000;
}