<h1>Articles</h1>
<hr>
<ul>
  {{#each articles}}
    <div class="article" id={{_id}}>
      <h3>{{title}}</h3>
      <div id="summary">
        {{summary}}
      </div>
      </br>
      <a href={{link}} target='_blank'>Link to Article</a>
      <u><h4>Comments:</h4></u>
      {{> comments/comment-list}}
      {{> comments/comment-form}}
      </br>
      </br>
    </div>
  {{/each}}
</ul>
