body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #0c00b3; }

.article {
  background: #bcbfc2;
  padding: 5px;
  margin: 5px;
  border-radius: 5px; }
