<form class="create-form">
  <div class="form-group text-center">
    <textarea class="form-control" placeholder="Comment" rows="4" id="comment"></textarea>
    <button type="submit" class="submit-btn">Add comment</button>
  </div>
</form>